* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #55efc4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    position: relative;
    margin-top: 20px;
}

.container > form > [type=text] {
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 5px;
    box-sizing: border-box;
}

.container > form > textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

.container > form > [type=button] {
    background-color: #ffeaa7;
    width: 100%;
    height: 35px;
    border: 1px solid #b2bec3;
    font-size: 14px;
    margin-bottom: 20px;
}

.container > form > [type=button]:hover {
    cursor: pointer;
    border-color: #636e72;
}

input {
    outline: none;
    border: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

.output {
    background-color: white;
    width: 420px;
    min-height: 150px;
    text-align: left;
    word-break: break-word;
    padding: 5px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

.error {
    position: absolute;
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: red;
}

.text_error {
    top: 190px;
}

.regexp_error {
    top: 260px;
}

.border_red {
    border: 1px solid #ff0000;
}