html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f7d794;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Verdana, Geneva, sans-serif;
}

header {
    text-align: center;
}

.main-content {
    margin: -20px 0 50px 0;
}

.workspace {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 40px;
}

.workspace > form {
    text-align: center;
}

.workspace_in {
width: 200px;
height: 30px;
border: 0;
border-radius: 5px;
margin: 0;
padding-left: 5px;
font-size: 14px;
}

.workspace_out {
margin: 16px 0 16px 0;
}

#task3_out {
    text-align: left;
}

#task8_out {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task11_out {
    list-style-type: none;
    padding: 0;
}

.button {
    background-color: #f7d794;
    height: 32px;
    width: 160px;
    border: 2px solid #f19066;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
}

.button:hover {
    background-color: #f5cd79;
}

.error {
    color: #eb2f06;
}