@media screen and (max-width: 1260px) {
    .about-me__container {
        width: 110%;
    }

    .footer__container {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .about-me__container, .portfolio__container {
        width: 100%;
    }

    .header__container, .about-me__content, .portfolio__content {
        width: 95%;
    }

    .about-me__container {
        background-position-x: 620px;
    }

    .portfolio__container {
        background-position: bottom -60px right 340px;
    }
}

@media screen and (max-width: 900px) {
    .portfolio__container {
        background-position: bottom -60px left -300px;
    }
}

@media screen and (max-width: 830px) {
    h1, h2 {
        text-align: center;
    }

    .header__content, .about-me__content, .portfolio__content {
        align-items: center;
    }

    .header__container {
        background-position-x: center;
    }

    .header__content {
        margin-bottom: 100px;
    }

    .header__content > p {
        text-align: center;
        margin-bottom: 150px;
    }

    .about-me__container {
        background-position: center;
        background-size: contain;
        margin: 20px 0;
    }

    .about-me__content {
        margin: 100px 0 100px 0;
    }

    .about-me__content > h2 {
        font-size: 33px;
    }

    .about-me__content > p {
        width: 330px;
    }

    .about-me__content > p:nth-child(3) {
        margin-bottom: 40px;
    }

    .portfolio__container {
        background-position: center bottom -35px;
        background-size: contain;
    }

    .portfolio__content {
        margin-top: 50px;
        margin-bottom: 50vw;
        align-items: center;
    }

    .portfolio__content > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__btn_up {
        position: relative;
        right: auto;
        bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .about-me__container {
        background-size: 150% 150%;
        margin: 0;
    }

    .about-me__content {
        margin: 50px 0;
    }

    .about-me__content > h2 {
        font-size: 40px;
    }

    .about-me__content > p {
        width: 90%;
    }

    .portfolio__content > div {
        width: 90%;
    }

    .contact__icons > a {
        margin: 0 10px 50px 10px;
    }

    .contact__form {
        flex-direction: column;
    }

    .contact__input {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 60px;
    }

    h2, .about-me__content > h2 {
        font-size: 30px;
    }

    .header__content > p {
        font-size: 25px;
    }

    .contact__content {
        margin: 100px 0;
    }

    .contact__icons {
        flex-direction: column;
    }

    .contact__icons > a {
        margin: 0 0 20px 0;
    }

    .contact__form {
        margin-top: 20px;
    }
}