body {
    display: flex;
    justify-content: center;
}

.chart {
    width: 900px;
    height: 500px;
}

.back-btn {
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 2px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.back-btn:hover {
    background-color: #ecf0f1;
    cursor: pointer;
}


